<div class="col-6" >
  <h3><%= video.title %></h3>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.youtube_id %>?list=PL6lusswsNPHG5csQPFjMExe5XQqr1cJvq" title="How to Create Your First Rails App" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  
  <%= link_to 'Show', video %>
  <%= link_to 'Edit', edit_video_path(video) %>
  <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
