
<%= form_tag(send_mail_path, class: 'col form-signup') do %>
    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
    <div class='row form-label-group'>
        <%= text_field_tag 'name', nil, class: 'form_control', placeholder: 'Name' %>
        <label for="name">&nbsp</label>
    </div>
    <div class='row form-label-group'>
        <%= email_field_tag 'email', nil, class: 'form_control', placeholder: 'email address' %>
        <label for="email">&nbsp</label>
    </div>
    <div class='row form-label-group'>
        <%= text_area_tag 'message', nil, class: 'form_control', placeholder: 'comments' %>
        <label for="message">&nbsp</label>
    </div>
    <%= submit_tag nil, class: 'btn btn-primary'  %>
<% end %>

